
body{
        font-family: 'Roboto Mono', monospace;

}
.header{
    max-width: 100%;
    background: blue;
    background-size: contain;
    height: 200px;
}

.header-container{
    margin: 0 auto; 
    height: 180px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(255, 0, 43);
    }


.header-logo{
    display: flex;
    }

  

.logo{
    position: relative;
}

.logo img{
    position: relative;
}

.circle{
    position: relative;
    z-index:1;
}

.stick{
    position: absolute;
    z-index: 2;
    left: -40px;
    bottom: 26px;
}
.header-nav{
    list-style-type: none;
    width: 589px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px){
    .header-nav{
        list-style-type: disc;
    }
}
.nav-item{
    font-weight: 500;
    font-size: 20px;
    line-height: 21px;
}

.nav-item a{
    text-decoration: none;
    color:black;
    letter-spacing: -2px;
}